.badge {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-weight: 600;
  border-radius: 0.4rem;
  white-space: nowrap;
}
.badge.rounded {
  border-radius: 9999px;
}
.badge.square {
  border-radius: 0.4rem;
}
.badge.small {
  font-size: 1rem;
  padding: 0.4rem 0.8rem;
}
.badge.medium {
  font-size: 1.2rem;
  padding: 0.6rem 1.2rem;
}
.badge.large {
  font-size: 1.4rem;
  padding: 0.8rem 1.6rem;
}
.badge.positive {
  background-color: #28a745;
  color: #fff;
}
.badge.informative {
  background-color: #007bff;
  color: #fff;
}
.badge.negative {
  background-color: #dc3545;
  color: #fff;
}
.badge.neutral {
  background-color: #f0ad4e;
  color: #fff;
}
.badge .icon {
  max-width: 1.6rem;
  margin-right: 0.4rem;
  display: flex;
  align-items: center;
}